<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.evaluate.mapper.CourseMapper">
    <select id="getPageCourse" resultType="com.project.evaluate.entity.Course">
        SELECT ID,
               courseID,
               courseName,
               courseProperty,
               testType,
               educationType,
               courseType,
               credit,
               teamLeader,
               major,
               courseType
        FROM course
        ORDER BY ID
        LIMIT #{start},#{end}
    </select>

    <select id="countCourse" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM Course
    </select>

    <select id="selectByCourseID" resultType="com.project.evaluate.entity.Course">
        SELECT ID,
               courseID,
               courseName,
               courseProperty,
               testType,
               educationType,
               courseType,
               credit,
               teamLeader,
               major,
               courseType
        FROM course
        WHERE courseID = #{courseID}
    </select>
</mapper>