<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.evaluate.dao.CourseDocTaskDao">
    <update id="updateCourseDocTask">
        UPDATE coursedoctask
        <set>
            <if test="courseID != null and course != ''">
                courseID = #{courseID},
            </if>
            <if test="teacher != null and teacher != ''">
                teacher = #{teacher},
            </if>
            <if test="schoolStartYear != null">
                schoolStartYear = #{schoolStartYear},
            </if>
            <if test="schoolEndYear != null">
                schoolEndYear = #{schoolEndYear},
            </if>
            <if test="schoolTerm != null">
                schoolTerm = #{schoolTerm},
            </if>
            <if test="grades != null and grades != ''">
                grades = #{grades},
            </if>
            <if test="studentNum != null">
                studentNum = #{studentNum},
            </if>
            <if test="issueTime != null">
                issueTime = #{issueTime},
            </if>
            <if test="deadTime != null">
                deadline = #{deadline},
            </if>
            <if test="taskStatus != null">
                taskStatus = #{taskStatus},
            </if>
            <if test="closeTask != null">
                closeTask = #{closeTask},
            </if>
            <if test="operator != null and operator != ''">
                operator = #{operator},
            </if>
            <if test="memo != null and memo != ''">
                memo = #{memo}
            </if>
        </set>
        WHERE ID = #{ID}
    </update>

    <delete id="deleteTaskByID">
        DELETE
        FROM coursedoctask
        WHERE ID = #{ID}
    </delete>

    <select id="selectByID" resultType="com.project.evaluate.entity.CourseDocTask">
        SELECT ID,
               courseID,
               teacher,
               schoolStartYear,
               schoolEndYear,
               schoolTerm,
               grades,
               studentNum,
               issueTime,
               deadline,
               taskStatus,
               closeTask,
               operator,
               memo
        FROM coursedoctask
        WHERE ID = #{ID}
    </select>
    <select id="selectPageCourseDocTask" resultType="java.util.Map">
        SELECT coursedoctask.ID,
        coursedoctask.courseID,
        coursedoctask.teacher,
        coursedoctask.schoolStartYear,
        coursedoctask.schoolEndYear,
        coursedoctask.schoolTerm,
        coursedoctask.grades,
        coursedoctask.studentNum,
        coursedoctask.issueTime,
        coursedoctask.deadline,
        coursedoctask.taskStatus,
        coursedoctask.closeTask,
        coursedoctask.operator,
        coursedoctask.memo,
        course.courseName
        FROM coursedoctask
        LEFT JOIN course
        ON course.courseID = coursedoctask.courseID
        <where>
            <if test="teacher != null and teacher != ''">
                coursedoctask.teacher = #{teacher}
            </if>
            <if test="schoolStartYear != null and schoolStartYear != ''">
                AND coursedoctask.schoolStartYear = #{schoolStartYear}
            </if>
            <if test="schoolEndYear != null and schoolEndYear != ''">
                AND coursedoctask.schoolEndYear = #{schoolEndYear}
            </if>
            <if test="schoolTerm != null and schoolTerm != ''">
                AND coursedoctask.schoolTerm = #{schoolTerm}
            </if>
            <if test="courseID != null and courseID != ''">
                AND coursedoctask.courseID = #{courseID}
            </if>
            <if test="taskStatus != null and taskStatus != ''">
                AND coursedoctask.taskStatus = #{taskStatus}
            </if>
            <if test="closeTask != null and closeTask != ''">
                AND coursedoctask.closeTask = #{closeTask}
            </if>
        </where>
    </select>
    <select id="selectPageID" resultType="com.project.evaluate.entity.CourseDocTask">
        SELECT ID,
        courseID,
        teacher,
        schoolStartYear,
        schoolEndYear,
        schoolTerm,
        grades,
        studentNum,
        issueTime,
        deadline,
        taskStatus,
        closeTask,
        operator,
        memo
        FROM coursedoctask
        WHERE ID IN
        <foreach collection="ids" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </select>
</mapper>