<?xml version="1.0" encoding="UTF-8"?>
<!-- 用户User所用数据库语句文件 -->
<!-- 参考链接：http://c.biancheng.net/mybatis/mapper.html -->
<!-- 记得提供扫描入口，参考链接：https://blog.csdn.net/weixin_42109200/article/details/117412010 -->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.evaluate.mapper.FacultyMapper">
    <select id="selectByUsername"
            resultType="com.project.evaluate.entity.Faculty">
        select *
        from faculty
        where userID = #{0};
    </select>

    <insert id="addFaculty"
            parameterType="com.project.evaluate.entity.Faculty">
        insert into faculty(userID, userName, password, roleType, mobile, email, status, isInitPwd, lastLoginIP,
                            lastLoginTime, loginIP, loginTime)
        values (#{userID}, #{userName}, #{password}, #{roleType}, #{mobile}, #{email}, #{status}, #{isInitPwd},
                #{lastLoginIP}, #{lastLoginTime}, #{loginIP}, #{loginTime})
    </insert>
</mapper>